html,
body,
#viewMap {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 56px;
}

.filter-report {
    position: absolute;
    top: 150px;
    left: 15px;
    width: 350px;
    z-index: 99;
}

.filter-report .bg-white {
    position: absolute;
    background: #ffffff;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.filter-report-content {
    padding: 15px;
    position: relative;
    z-index: 999;
}

.filter-header {
    color: #0079c1;
    font-size: 16px;
}

.filter-nav {
    display: inline-block;
    position: absolute;
    background: #fff;
    right: -40px;
    padding: 10px 15px;
    color: #6e6e6e;
    cursor: pointer;
}

.filter-report.maximize .maximize {
    display: none;
}

.filter-report.minimize .minimize {
    display: none;
}

.filter-report.minimize .filter-nav.filter-nav-collapse {
    left: 0;
    right: unset;
    padding: 8px;
}